body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: whitesmoke;
    height: 100vh;
}


header nav {
    background-color: #202124;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    overflow: hidden;
    margin-right: 25px;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    display: block;
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 17.5px;
}

header nav ul li a:hover {
    opacity: 0.5;
}

.barra-nav {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.logo {
    padding-top: 5px;
    width: auto;
    height: 50px;
}

.menu{
    background-color: goldenrod;
    width: 100%;
    height: 60px;
    padding-top: 105px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.opciones{
    color: whitesmoke;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
}

.opciones1{
    color: #202124;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
}


.container{
    height: 100px;
}


h1 {
    letter-spacing: 3px;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 27px;
}



.img_table {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

/* .table1{
    margin: 20px;
    margin-right: 40px;
    padding: auto;
    border-spacing: 1.5cm;
    background: linear-gradient(rgba(199, 77, 247, 0.75), rgba(161, 255, 169, 0.75));
    float: left;
    align-items: center;
    width: 10%;
    height: 70%;
    border-radius: 15px;
    border: 2px solid beige;
    box-shadow: 0 0 10px rgb(109, 107, 107);
}

.t1{
    padding: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-spacing: 10cm;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    background: white;
    color: rgb(114, 12, 155);
    text-shadow: 2px 3px 10px rgb(114, 12, 155);
    font-style: italic;
} */

/* .table1:hover{
    background: linear-gradient(rgb(118, 255, 123),  #cf91ff);
} */

.table2{
    margin: 20px;
    background: whitesmoke; 
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 10px;
    vertical-align: top;
    margin-bottom: 90px;
    box-shadow: 2px 3px 8px 7px rgb(88, 87, 87);
    /* border-style:inset; */
}

td{
    background: rgb(239, 238, 238);
    color: rgb(0, 0, 0);
 }

.encabezado{
    color: goldenrod;
    text-transform:uppercase;
    font-size: medium;
    text-align: center;
}

.cantidad{
    width: 1%;
}

.descripcion{
    width: 5%;
    padding: 20px;
    text-align: justify;
}

.recibimiento{
    width: 1%;
}

.precio{
    width: 1%;
}

.nombre{
    width: 3%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody tr td{
    background: rgb(239, 238, 238);
    color: rgb(0, 0, 0);
 }