<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Weird Food</title>
    <link rel="icon" href="img/loguito.png">
    <link rel="stylesheet" href="AboutUsD.css">
    <link rel="stylesheet" href="../Pagina Principal-sesión iniciada/HomeD2.css">
</head>

<body onload="ValidarLogin()">
    <header>
        <!--Una barra con un menu y su logo-->
        <nav class="barra-nav" id="navbar">
            
        </nav>
    </header>

    <!--Un seccion para agregar la imagen con el titulo incluido-->
    <section class="banner">
        <img src="img/bannerAU.png" alt="">
    </section>

    <div class="intro">
        <h2>Una Aventura Exotica para el Paladar</h2>
        <h4>
            Desde su apertura en 2020, Weird Food ha sido el atractivo de conocidas celebridades, políticos, turistas
            y lugareños que se entusiasman con esta idea inovadora. Ya sea que se trate desde nuestro cafe Kopi Luwak,
            un tazón de Caldo Cardan o nuestro exclusivo Fugu, la comida en Weird Food será inolvidable.
        </h4>
    </div>

    <!--La seccion de que habla de nuestra historia-->
    <section class="mision">
        <!--Un img para poner una imagen para la primera seccion-->
        <img class="img1" src="img/img1.jpg" alt="">
        <!--Un div para dividir la imagen del texto-->
        <div class="info1">
            <h2>Nuestra mision</h2>
            <!--Breve historia-->
            <p>Dar a conocer nuestros variados menús con sus sabores exóticos para todas esas personas que son amantes
                para degustar sabores inéditos y con la facilidad de no viajar tan lejos si lo desean. La experiencia
                que vivirán en nuestro restaurante es totalmente única y con un ambiente muy acogedor, el cual, está
                basado para todo público.
            </p>
        </div>
    </section>
    <!--Fin de la primera seccion y un br para dar espacio-->
    <br><br>
    <!--Segundo section el cual contiene la mision de nuestro negocio-->
    <section class="historia">
        <div>
            <h2>Nuestra historia</h2>
            <!--Breve mision-->
            <p>Como amigos y grupo de trabajo de la Universidad, siempre nos mantuvimos en contacto desde
                el momento en que nos graduamos y para el año 2019, se inició una propuesta, la cual era viajar por
                diversos países solamente por turismo, pero al estar degustando diversos platillos y comidas de los
                diferentes países visitados, tuvimos la gran idea de establecer un negocio de comidas algo peculiar,
                principalmente con sabores bastante únicos y con mezclas un poco inusuales pero deliciosas, en pocas
                palabras exóticas que hagan llamar la atención a los clientes para poder degustar de cada uno de ellos.

                Así pues, fue creado el negocio de un restaurante con el nombre de "Weird Food". En la actualidad, nos
                dividimos por secciones para tomar cargos correspondientes con respecto al mantenimiento y desarrollo
                del negocio, mientras unos viajaban por conocer más platillos peculiares para ampliar nuestra carta,
                otros lo administraban e incluso algunos participamos directamente en la elaboración de estos.
            </p>
        </div>
    </section>
    <!--Fin de la segunda seccion y un br para dar espacio-->
    <br><br>
    <!--Tercer section el cual contiene la mision de nuestro negocio-->
    <section class="vision">
        <!--Un img para poner una imagen para la tercera seccion-->
        <img class="img2" src="img/img2.jpeg" alt="">
        <!--Un div para dividir la imagen del texto-->
        <div class="info2">
            <h2>Nuestra Vision</h2>
            <!--Breve vision-->
            <p>Ser reconocidos y preferidos a nivel Nacional y despues a nivel regional, como un grupo de trabajo
                original, sólido y profesional, la imagen de nuestro futuro a largo que tenemos es espandirnos y
                aumentar de sucursales. Es lo que esperamos llegar a ser si realiza con eficacia y eficiencia
                nuestro trabajo.</p>
        </div>
    </section>
    <!--Fin de la tercera seccion-->

    <footer class="footer">
        <div class="footer-left">
            <a href="../Pagina Principal/Home.html"><img class="logof" src="img/logo.png" alt=""></a>
            <br>
            <p class="footer-links">
                <a class="link-1" href="../Pagina Principal/Home.html">Inicio</a>
                <a href="../Pagina Menu/Menu.html">Menu</a>
                <a href="../Pagina SobreNosotros/AboutUs.html">Conocenos</a>
                <a href="../Pagina Contacto/Contact.html">Contactanos</a>
            <div class="redesf">
                <p class="footer-links">Siguenos en</p>
                <a href="https://www.instagram.com/"><img src="img/ig.png" alt=""></a>
                <a href="https://www.pinterest.es/corderomh/panam%C3%A1/"><img src="img/pt.jpg" alt=""></a>
                <a href="https://www.youtube.com/"><img src="img/yt.png" alt=""></a>
            </div>
            </p>
            <br>
            <br>
            <p>weird Food &copy; 2022</p>
        </div>
    </footer>
    <script src="../../Controller/PantallaNav.js"></script>
</body>

</html>