<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Weird Food</title>
    <link rel="icon" href="img/loguito.png">
    <link rel="stylesheet" href="MenuD.css">
    <link rel="stylesheet" href="../Pagina Principal-sesión iniciada/HomeD2.css">
</head>

<body onload="ObtenerMenu()">
    <header>
        <!--Una barra con un menu y su logo-->
        <nav class="barra-nav" id="navbar">
            
        </nav>
    </header>

    <section class="banner">
        <img src="img/BannerMenu.jpg" alt="">
    </section>

    <section class="menu" id="cuerpoMenu">
        <h1 id="">~BEBIDAS~</h1>
        <section class="cartaM" id="Bebidas">

        </section>
        <h1 id="">~ENTRADAS~</h1>
        <section class="cartaM" id="Entradas">

        </section>
        <h1 id="">~PLATO FUERTE~</h1>
        <section class="cartaM" id="PlatoFuerte">

        </section>
        <h1 id="">~POSTRES~</h1>
        <section class="cartaM" id="Postres">

        </section>
    </section>

    <footer class="footer">
        <div class="footer-left">
            <a href=""><img class="logof" src="img/logo.png" alt=""></a>
            <br>
            <p class="footer-links">
                <a class="link-1" href="">Inicio</a>
                <a href="">Menu</a>
                <a href="">Conocenos</a>
                <a href="">Contactanos</a>
            <div class="redesf">
                <p class="footer-links">Siguenos en</p>
                <a href=""><img src="img/ig.png" alt=""></a>
                <a href=""><img src="img/pt.jpg" alt=""></a>
                <a href=""><img src="img/yt.png" alt=""></a>
            </div>
            </p>
            <br>
            <br>
            <p>weird Food &copy; 2022</p>
        </div>
    </footer>
    <script src="../../Controller/PantallaMenu.js"></script>
</body>

</html>