<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weird Food</title>
    <link rel="icon" href="img/loguito.png">
    <link rel="stylesheet" href="HomeAdmin.css">
    
</head>

<body onload="ValidarLogin()">

    <!-- <header>
        <nav id="navbar">

        </nav>
    </header> -->

    <div class="banner">
        <!-- <img class="img1" src="" alt=""> -->
        <img class="img2" src="img/logo.png" alt="">
        <h1 class="btn">Administrativo</h1>
    </div>

    <section>
        <table class="tabla">
            <tr>
                <td><img src="img/img2.jpg" alt="" width="416" height="280"></td>
                <td>
                    <a href="../Pagina NuevoPlatillo/NewFood.html">
                        <img class="sup" src="img/cubiertos.png" alt="">
                        <h2>Nuevo Platillo</h2>
                    </a>
                </td>
                <td><img src="img/img3.jpg" alt="" width="416" height="280"></td>
            </tr>
            <tr>
                <td><a href="../Pagina RevisionPlatillos/Revision.html">
                        <img class="sup" src="img/revision.png" alt="">
                        <h2>Revisiones</h2>
                    </a>
                </td>
                <td><img src="img/img1.png" alt="" width="417" height="280"></td>
                <td><a href="../Pagina Reportes/Platillos.html">
                        <img class="sup" src="img/reporte.png" alt="">
                        <h2>Reportes</h2>
                    </a>
                </td>
            </tr>
        </table>
        <script src="../../Controller/PantallaNav.js"></script>
    </section>

</body>
</html>