<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revision de Platillos - Weird Food</title>
    <link rel="icon" href="img/loguito.png">
    <link rel="stylesheet" href="RevisonD.css">
    <link rel="stylesheet" href="../Pagina Principal-sesión iniciada/HomeD2.css">
</head>

<body onload="ValidarLogin()">
    <header>
        <!--Una barra con un menu y su logo-->
        <nav class="barra-nav" id="navbar">

        </nav>
    </header>

    <!--todo el contenido de la página está aquí dentro-->
    <img class="banner" src="" alt="">

    <section class="section" id="Publicadas">

    </section>
    <script src="../../Controller/PantallaRevision.js"></script>
    </form>
</body>

</html>