<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weird Food</title>
    <link rel="icon" href="img/loguito.png">
    <link rel="stylesheet" href="HomeD2.css">
</head>

<body>
    <header>
        <!--Una barra con un menu y su logo-->
        <nav class="barra-nav">
            <ul>
                <a href="../Pagina Principal/Home.html"><img class="logo" src="img/logo.png"></a>
                <li class="imagen"><a href="../Pagina InicioSesion/LogIn.html"><img src="img/perfil.png" alt=""><p>Perfil</p></a></li>
                <li class="info"><a href="../Pagina Contacto/Contact.html">Contacto</a></li>
                <li class="info"><a href="../Pagina SobreNosotros/AboutUs.html">Sobre Nosotros</a></li>
                <li class="info"><a href="../Pagina Menu/Menu.html">Menu</a></li>
                <li class="info"><a href="../Pagina Principal-sesión iniciada/Home2.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <div class="banner">
        <img class="img1" src="img/bannerH.jpg" alt="">
        <img class="img2" src="img/fotob.png" alt="">
        <div class="bm">
            <a class="btn" href="../Pagina Menu/Menu.html">Ver Menu</a>
        </div>
    </div>

    <section class="intro">
        <h2>BIENVENIDOS A WEIRD FOOD</h2>
        <h4>Ignaugurado en Panama, Weird Food es el establecimiento culinario independiente más
            reciente de estos ultimos 5 años, con un nuevo enfoque de la cocina. Reconocido por tener 2 estrellas
            michelin, dos galardones por su estructura y reconocido por The Travel Channel, entre muchos otros, este
            restaurante con una arquitectura seductora es el lugar perfecto para los aventureros que estan dispuestos a
            degustar platillos poco conocidos.</h4>
    </section>

    <section>
        <table class="tabla">
            <tr>
                <td><img src="img/img1.webp" alt="" width="416" height="280"></td>
                <td>
                    <a href="../Pagina RegistroUsuario/SignUp.html">
                        <img class="sup" src="img/sup.png" alt="">
                        <h2>Registrarse</h2>
                    </a>
                </td>
                <td><img src="img/img3.jpg" alt="" width="416" height="280"></td>
            </tr>
            <tr>
                <td><a href="../Pagina SobreNosotros/AboutUs.html">
                        <img class="sup" src="img/hist.png" alt="">
                        <h2>Nuestra Historia</h2>
                    </a>
                </td>
                <td><img src="img/img2.jpg" alt="" width="417" height="280"></td>
                <td><a href="../Pagina Contacto/Contact.html">
                        <img class="sup" src="img/suc.png" alt="">
                        <h2>Surcursales</h2>
                    </a>
                </td>
            </tr>
        </table>
    </section>

    <br><br>
    <section class="horario">
        <h2>-HORARIOS-</h2>
        <br>
        <h3>Martes 3:00 p.m. - 10:00 p.m. <br>
            Miercoles 3:00 p.m. - 10:00 p.m. <br>
            Viernes 3:00 p.m. - 10:00 p.m. <br>
            Sabado 1:00 p.m. - 11:59 p.m. <br>
            Domingo 11:00 a.m. - 11:59 p.m.
        </h3>
        <br>
        <h2>¡¡Ven Y Disfruta de Nuestro Platillos Exotico!!</h2>
    </section>

    <footer class="footer">
        <div class="footer-left">
            <a href="../Pagina Principal/Home.html"><img class="logof" src="img/logo.png" alt=""></a>
            <br>
            <p class="footer-links">
                <a class="link-1" href="../Pagina Principal/Home.html">Inicio</a>
                <a href="../Pagina Menu/Menu.html">Menu</a>
                <a href="../Pagina SobreNosotros/AboutUs.html">Conocenos</a>
                <a href="../Pagina Contacto/Contact.html">Contactanos</a>
            <div class="redesf">
                <p class="footer-links">Siguenos en</p>
                <a href="https://www.instagram.com/"><img src="img/ig.png" alt=""></a>
                <a href="https://www.pinterest.es/corderomh/panam%C3%A1/"><img src="img/pt.jpg" alt=""></a>
                <a href="https://www.youtube.com/"><img src="img/yt.png" alt=""></a>
            </div>
            </p>
            <br>
            <br>
            <p>weird Food &copy; 2022</p>
        </div>
    </footer>

</body>

</html>